%article.page.type-page.status-publish.hentry
  .box.box-default.box-green.box-icon-7.m-bottom-top-small
    %i.box-icon-7-left
    %i.box-icon-7-right
    %h1.box-title
      %span= t(".thong_bao")
    .box-content
      .entry-content
        %p  
        %p{:style => "text-align: center;"}
          %span{:style => "font-size: 22px; font-family: arial, helvetica, sans-serif;"}
            %strong= t(".thong_bao").titleize
        %p
          %strong
            %span{:style => "font-size: 18px;"}= t(".nam_hoc")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}
            %em= t(".do_tuoi")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-size: 16px; font-family: arial, helvetica, sans-serif;"}
            %strong= t(".doi_tuong")
          %br/
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".do_tuoi_nha_tre")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".do_tuoi_mau_giao")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-size: 16px;"}
            %strong= t(".thoi_gian_nhap_hoc")
        %p
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".noi_nhan_ho_so")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}
            %strong= t(".thoi_gian_nhan_hs")
          %br/
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".nhap_hoc_moi_ngay")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".nhan_hs_tai_vp")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".ngay_nhap_hoc")
        %p{:style => "text-align: justify;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}= t(".ke_hoach_tuyen_sinh")
        %p{:style => "text-align: right;"}
          %span{:style => "font-family: arial, helvetica, sans-serif;"}
            %strong= t(".bo_phan_tuyen_sinh")

