%footer
  .footer-center
    .container
      .footer-center-wrap
        .row
          .col-md-6.col-sm-6.col-xs-12.wow.animated.fadeInUp{"data-wow-delay" => "100ms"}
            #block_links_footer_3.footer-block
              %h4.title_block= t(".contact_us")
              .block_content
                %ul.contact-footer.list-group.bullet
                  %li
                    %i.fa.fa-map-marker &nbsp;
                    %p= t(".address")
                  %li
                    %i.fa.fa-phone &nbsp;
                    %p= t(".phone_number")
                  %li
                    %i.fa.fa-envelope &nbsp;
                    %p
                      %a{:href => "#"}= t(".email")
          .col-md-6.col-sm-6.col-xs-12.wow.animated.fadeInUp{"data-wow-delay" => "100ms"}
            #block_links_footer_1.footer-block
              %h4.title_block= t(".share")
              .block_content
                .facebook_page.m-d-block
                  = image_tag "facebook.svg", class: "image-fage-acebook "
                  %a{href: "https://www.facebook.com/Tr%C6%B0%E1%BB%9Dng-M%E1%BA%A7m-Non-T%C6%B0-Th%E1%BB%A5c-Th%E1%BB%8F-Ng%E1%BB%8Dc-D%C4%A9-An-B%C3%ACnh-D%C6%B0%C6%A1ng-1822222441335012/", target: "_blank"}= t(".facebook_fanpage")
                .bd_website
                  %i.fa.fa-book.icon-ebook
                  %a{href: "http://sgdbinhduong.edu.vn/", target: "_blank"}= t(".bd_website")
