%footer
  .footer-center
    .container
      .footer-center-wrap
        .row
          .col-md-3.col-sm-6.col-xs-12.wow.animated.fadeInUp{"data-wow-delay" => "100ms"}
            #block_links_footer_3.footer-block
              %h4.title_block= t(".contact_us")
              .block_content
                %ul.contact-footer.list-group.bullet
                  %li
                    %i.fa.fa-map-marker &nbsp;
                    %p= t(".address")
                  %li
                    %i.fa.fa-phone &nbsp;
                    %p= t(".phone_number")
                  %li
                    %i.fa.fa-envelope &nbsp;
                    %p
                      %a{:href => "#"}= t(".email")
          .col-md-3.col-sm-6.col-xs-12.wow.animated.fadeInUp{"data-wow-delay" => "100ms"}
            #block_links_footer_1.footer-block
              %h4.title_block= t(".share")
              .block_content
                %ul.toggle-footer.list-group.bullet
                  %li.item
                    %a{:href => "#", :title => "Facebook"}
                      %i.fa.fa-caret-right>
                      = t(".share_facebook")
                  %li.item
                    %a{:href => "#", :title => "Google Plus"}
                      %i.fa.fa-caret-right>
                      = t(".share_google_plus")
          .col-md-6.col-sm-6.col-xs-12.wow.animated.fadeInUp{"data-wow-delay" => "100ms"}
            #block_links_footer_2.footer-block
              %h4.title_block= t(".address_map")
              #googleMap
  .footer-bottom
    .container
      .row
        .footer-bottom-wrap.clearfix
          .col-xs-12.wow.animated.fadeInLeft{"data-wow-delay" => "150ms"}
            .copyright
              %p
                Copyright &copy; 2016 Mam non Tho Ngoc
