.header
  .row
    .logo.col-xs-2
      %h1
        %a{:href => "/", :title => "Mầm non Thỏ Ngọc"}
          = image_tag('logomamnon.png', alt:"Mầm non tốt nhất dĩ an, tân uyên bình dương", class: "")
    .topadv.col-xs-12
      %p.phong_gd
        %a{:href => '#', :target => "_blank"}
          %span PHÒNG GIÁO DỤC VÀ ĐÀO TẠO DĨ AN
      %p.ten_truong
        %span
          %strong TRƯỜNG MẦM NON THỎ NGỌC
  .clear

%nav.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      %li.active
        = link_to t('.home_page'), home_index_path
      %li
        = link_to  t(".introduce"), home_index_path 
      %li
        = link_to t(".education_program"), home_index_path 
      %li
        = link_to t(".library"), home_index_path
      %li
        = link_to t(".admissions"), tuyen_sinh_abouts_path
      %li
        = link_to t(".parent"), home_index_path
      %li
        = link_to t(".student"), home_index_path
      %li
        = link_to t(".contact_us"), home_index_path
    - unless current_user      
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: new_user_session_path()}
            %span.glyphicon.glyphicon-user
            = t(".sign_in")
        %li
          %a{href: new_user_registration_path()}
            %span.glyphicon.glyphicon-log-in
            = t(".sign_up")
    - else
      %ul.nav.navbar-nav.navbar-right
        %li
          - if current_user.is_admin?
            = link_to t(".admin"), admin_homes_path()
            - @users.each_with_index do |user, index|
              %a.link-icon.messages.start-conversation{"data-sid" => current_user.id, "data-rip" => user.id, href: "#"}
                .inbox
          - else
            %a.link-icon.messages.start-conversation{"data-sid" => current_user.id, "data-rip" => User.check_admin?.try(:id), href: "#"}
              .inbox
        %li
          = link_to t(".profile"), edit_user_registration_path
        %li
          = link_to t(".log_out"), destroy_user_session_path, method: "delete"