!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = favicon_link_tag 'logo.jpg'
    = display_meta_tags site: "", description: "", keywords: ""
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    #main
      .container
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}= value
        = yield
    = render 'layouts/footer'

    %audio#chatAudio
      %source{src: "/assets/notification.mp3", type: "audio/mpeg"}
